.page-container {
  height: auto;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}
.md-toolbar.md-theme-default.md-primary .md-title a{
  color: #fff;
  text-decoration: none;
}
.country-flag {
  margin-left: 5px;
  img {
    width: 20px;
  }
}