<main-layout>
    <div>Home</div>
    <md-dialog :md-active.sync="loginPopup.show" :md-click-outside-to-close="false" :md-close-on-esc="false">
        <md-dialog-title>Login</md-dialog-title>
        <form @submit="login">
            <md-field>
                <label for="login">Login</label>
                <md-input id="login" name="login" v-model="userLogin" type="text" @keyup.enter.native="login" />
            </md-field>
            <md-field>
                <label for="password">Password</label>
                <md-input id="password" name="password" v-model="userPassword" type="password" @keyup.enter.native="login" />
            </md-field>
            <md-dialog-actions>
                <md-button class="md-primary" @click="login">Send</md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</main-layout>