<div id="app">
    <h1>Test suites</h1>
    <v-form ref="form">
        <v-text-field
                v-model="newTestSuite.name"
                label="Test suite name"
        ></v-text-field>
        <v-text-field
                v-model="newTestSuite.gitRepoUrl"
                label="Test suite GIT repo URL"
        ></v-text-field>
        <v-text-field
                v-model="newTestSuite.gitBranch"
                label="Test suite GIT branch"
        ></v-text-field>
        <v-text-field
                v-model="newTestSuite.sourceDir"
                label="Test suite root dir inside GIT repo"
        ></v-text-field>
        <v-btn
                color="success"
                @click="validate"
        >
            Validate
        </v-btn>
    </v-form>
    <ul>
        <li v-for="testSuite in testSuites">{{ testSuite.name }} on {{ testSuite.gitBranch }}</li>
    </ul>
</div>