<main-layout>
    <div>
        <md-table v-model="sshKeys" md-sort="name" md-sort-order="asc" md-card>
            <md-table-toolbar>
                <h1 class="md-title">{{ $t("sshKeyPage.SSH keys") }}</h1>
            </md-table-toolbar>
            <md-table-row slot="md-table-row" slot-scope="{ item }">
                <md-table-cell :md-label="$t('sshKeyPage.Name')" md-sort-by="name">{{ item.name }}</md-table-cell>
                <md-table-cell :md-label="$t('sshKeyPage.Actions')">
                    <template v-if="item.decryptedPrivKey === false">
                        <md-button class="md-icon-button md-accent" @click="unlockPrivKey(item.name)">
                            <md-icon>lock</md-icon>
                            <md-tooltip md-direction="top">{{ $t("sshKeyPage.Enter passphrase to decrypt private key") }}</md-tooltip>
                        </md-button>
                    </template>
                    <template v-else>
                        <md-icon class="md-primary">lock_open</md-icon>
                    </template>
                </md-table-cell>
            </md-table-row>
        </md-table>
    </div>
    <md-dialog :md-active.sync="keyPopin.show">
        <md-dialog-title>{{ $t("sshKeyPage.Key pass") }}</md-dialog-title>
        <form @submit="sendKeyPass">
            <md-field>
                <md-input name="repoAddress" v-model="keyPopin.keyName" type="hidden" />
            </md-field>
            <md-field>
                <label for="keyPass">{{ $t("sshKeyPage.Private key password") }}</label>
                <md-input name="keyPass" v-model="keyPopin.keyPass" type="password" />
            </md-field>
            <md-dialog-actions>
                <md-button class="md-primary" @click="sendKeyPass">{{ $t("sshKeyPage.Send") }}</md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</main-layout>