.md-content {
 max-height: 600px;
 overflow: auto;
}
.change-git-branch-button {
 cursor: pointer;
}
.md-dialog.test-suite-creation-dialog{
  /deep/ .md-stepper-text {
    white-space: normal;
  }
}
.md-dialog.test-suite-creation-dialog .md-stepper-text {

}
.md-field.auth-type {
  display: block;
  .md-radio /deep/ label {
    top: 0px;
  }
  > div {
    width: 100%;
    > label {
      position: initial;
    }
  }
}
.md-dialog.wait-spinner {
  min-width: 0;
  background: none;
  box-shadow: none;
  z-index: 1000;
}