.md-content {
 max-height: 600px;
 overflow: auto;
}
.md-dialog.test-suite-creation-dialog{
  /deep/ .md-stepper-text {
    white-space: normal;
  }

  ul.file-tree, ul.patterns-list {
    list-style-type: none;
    padding-left: 0;
  }
  ul.patterns-list li {
    line-height: 40px;
  }
  .selected-files {
    max-height: 300px;
    overflow-y: auto;
  }
}
.md-field.auth-type {
  display: block;
  .md-radio /deep/ label {
    top: 0px;
  }
  > div {
    width: 100%;
    > label {
      position: initial;
    }
  }
}
.md-dialog.wait-spinner {
  min-width: 0;
  background: none;
  box-shadow: none;
  z-index: 1000;
}