<main-layout>
    <div>
        <md-table v-model="testSuites" md-sort="name" md-sort-order="asc" md-card>
            <md-table-toolbar>
                <h1 class="md-title">Test suites
                    <md-button class="md-fab md-primary md-dense md-icon-button md-elevation-1" @click="showCreatePopin">
                        <md-icon>add</md-icon>
                    </md-button>
                </h1>
            </md-table-toolbar>
            <md-table-row slot="md-table-row" slot-scope="{ item }">
                <md-table-cell md-label="Name" md-sort-by="name"><strong><router-link :to="`/test-suites/${item._id}`">{{ item.name }}</router-link></strong></md-table-cell>
                <md-table-cell md-label="Repository" md-sort-by="repositoryName">{{ item.repositoryAddress }}</md-table-cell>
                <md-table-cell md-label="Progress" md-numeric md-sort-by="progress.percent">
                    <md-progress-bar md-mode="determinate" :md-value="item.progress.percent"></md-progress-bar>
                    {{ item.progress.percent }}%
                </md-table-cell>
                <md-table-cell md-label="Git branch" md-sort-by="gitBranch">
                    <span class="i-code-git icon-flow-branch"></span>{{ item.gitBranch }}
                    <router-link v-if="item.status === 'to_update'" class="md-icon-button md-mini md-accent" :to="`/test-suites/${item._id}`">
                        <md-icon>warning</md-icon>
                        <md-tooltip md-direction="top">Valid GIT modifications on test suite, as repository has been updated</md-tooltip>
                    </router-link>
                    <router-link v-if="item.status === 'to_toggle_branch'" class="md-icon-button md-mini md-accent" :to="`/test-suites/${item._id}`">
                        <md-icon>warning</md-icon>
                        <md-tooltip md-direction="top">Choose a new branch for test suite, as current branch has been deleted</md-tooltip>
                    </router-link>
                </md-table-cell>
                <md-table-cell md-label="Action">
                    <md-button class="md-icon-button md-mini md-accent" @click="deleteTestSuite(item._id)">
                        <md-icon>delete</md-icon>
                        <md-tooltip md-direction="top">Delete test suite</md-tooltip>
                    </md-button>
                </md-table-cell>
            </md-table-row>
        </md-table>
    </div>
    <md-dialog :md-active.sync="createPopin.show" class="test-suite-creation-dialog">
        <md-dialog-title>Please select a repository and a git branch</md-dialog-title>
        <form>
            <md-steppers md-linear :md-active-step.sync="createPopin.activeStep">
                <md-step id="first" md-label="Main informations" :md-error="createPopin.firstStepError">
                    <md-field>
                        <label for="testSuiteName">Test suite name</label>
                        <md-input name="testSuiteName" v-model="createPopin.testSuiteName" type="text" required />
                    </md-field>
                    <md-field>
                        <label for="repositoryAddress">Repository address</label>
                        <md-input name="repositoryAddress" v-model="createPopin.repositoryAddress" type="text" required />
                    </md-field>
                    <md-field class="auth-type">
                        <div>
                            <label for="repositoryAuthType">Repository authentication type</label>
                        </div>
                        <div>
                            <md-radio class="md-primary" v-model="createPopin.repositoryAuthType" :value="authTypes.NONE">None</md-radio>
                            <md-radio class="md-primary" v-model="createPopin.repositoryAuthType" :value="authTypes.PASS">Login - password</md-radio>
                            <md-radio class="md-primary" v-model="createPopin.repositoryAuthType" :value="authTypes.KEY">SSH key</md-radio>
                        </div>
                    </md-field>
                    <div :hidden="createPopin.repositoryAuthType !== authTypes.PASS">
                        <md-field>
                            <label for="repositoryLogin">Login</label>
                            <md-input name="repositoryLogin" v-model="createPopin.repositoryLogin" type="text" />
                        </md-field>
                        <md-field>
                            <label for="repositoryPass">Password</label>
                            <md-input name="repositoryPass" v-model="createPopin.repositoryPass" type="password" />
                        </md-field>
                    </div>
                    <div :hidden="createPopin.repositoryAuthType !== authTypes.KEY">
                        <md-field>
                            <label for="repositorySshKey">SSH key file</label>
                            <md-select v-model="createPopin.repositorySshKey" name="repositorySshKey">
                                <md-option v-for="repositorySshKey in createPopin.availableSshKeys" :value="repositorySshKey.name" :key="repositorySshKey.name">{{ repositorySshKey.name }}</md-option>
                            </md-select>
                        </md-field>
                        <md-field>
                            <label for="repositorySshKeyUser">Ssh key user</label>
                            <md-input name="repositorySshKeyUser" v-model="createPopin.repositorySshKeyUser" type="text" />
                        </md-field>
                        <md-field>
                            <label for="repositorySshKeyPass">Key passphrase (leave blank if key has no passphrase)</label>
                            <md-input name="repositorySshKeyPass" v-model="createPopin.repositorySshKeyPass" type="password" />
                        </md-field>
                    </div>
                    <md-button class="md-raised md-primary" @click="getRepoBranches()">Next</md-button>
                </md-step>
                <md-step id="second" md-label="Repository GIT branch" :md-error="createPopin.secondStepError">
                    <md-field>
                        <label for="repositoryBranch">Choose GIT branch</label>
                        <md-select v-model="createPopin.repositoryBranch" name="repositoryBranch">
                            <md-option v-for="gitBranch in createPopin.availableGitBranches" :value="gitBranch" :key="gitBranch">{{ gitBranch }}</md-option>
                        </md-select>
                    </md-field>
                    <md-button class="md-raised md-primary" @click="getRepoFiles()">Next</md-button>
                </md-step>
                <md-step id="third" md-label="File selection" :md-error="createPopin.thirdStepError">
                    <file-pattern-form :initial-file-patterns="createPopin.filePatterns" :available-files-tree="createPopin.availableFilesTree" @file-patterns-changed="filePatternsChanged"></file-pattern-form>
                    <md-button class="md-raised md-primary" @click="createTestSuite()">Create test suite</md-button>
                </md-step>
            </md-steppers>
        </form>
    </md-dialog>
    <md-dialog :md-active.sync="loginPopup.show" :md-click-outside-to-close="false" :md-close-on-esc="false">
        <md-dialog-title>Login</md-dialog-title>
        <span class="error-msg" v-if="loginPopup.authError">{{ loginPopup.authError }}</span>
        <form @submit="login">
            <md-field :class="loginPopup.loginFieldMessageClass">
                <label for="login">Login</label>
                <md-input id="login" name="login" v-model="userLogin" type="text" @keyup.enter.native="login" required />
                <span class="md-error">Required field, please enter a login</span>
            </md-field>
            <md-field :class="loginPopup.passwordFieldMessageClass">
                <label for="password">Password</label>
                <md-input id="password" name="password" v-model="userPassword" type="password" @keyup.enter.native="login" required />
                <span class="md-error">Required field, please enter a password</span>
            </md-field>
            <md-dialog-actions>
                <md-button class="md-primary" @click="login">Login</md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
    <md-dialog :md-active.sync="waitSpinner" :md-close-on-esc="false" :md-click-outside-to-close="false" class="wait-spinner">
        <div>
            <md-progress-spinner md-mode="indeterminate"></md-progress-spinner>
        </div>
    </md-dialog>
</main-layout>