<main-layout>
    <div>
        <md-table v-model="testSuites" md-sort="name" md-sort-order="asc" md-card>
            <md-table-toolbar>
                <h1 class="md-title">Test suites
                    <md-button class="md-fab md-primary md-dense md-icon-button md-elevation-1" @click="showCreatePopin">
                        <md-icon>add</md-icon>
                    </md-button>
                </h1>
            </md-table-toolbar>
            <md-table-row slot="md-table-row" slot-scope="{ item }">
                <md-table-cell md-label="Name" md-sort-by="name"><strong><router-link :to="`/test-suites/${item._id}`">{{ item.name }}</router-link></strong></md-table-cell>
                <md-table-cell md-label="Repository" md-sort-by="repositoryName">{{ item.repositoryName }}</md-table-cell>
                <md-table-cell md-label="Git branch" md-sort-by="gitBranch">{{ item.gitBranch }}</md-table-cell>
                <md-table-cell md-label="Action">
                    <md-button v-if="item.status === 'to_update'" class="md-icon-button md-mini md-accent" @click="solveTestSuiteDiff(item._id)">
                        <md-icon>warning</md-icon>
                    </md-button>
                    <md-button v-if="item.status === 'to_toggle_branch'" class="md-icon-button md-mini md-accent" @click="toggleTestSuiteGitBranch(item._id)">
                        <md-icon>warning</md-icon>
                    </md-button>
                    <md-button class="md-icon-button md-mini md-accent" @click="deleteTestSuite(item._id)">
                        <md-icon>delete</md-icon>
                    </md-button>
                </md-table-cell>
            </md-table-row>
        </md-table>
    </div>
    <md-dialog :md-active.sync="createPopin.show">
        <md-dialog-title>Please select a repository and a git branch</md-dialog-title>
        <form>
            <md-field>
                <label for="testSuiteName">Test suite name</label>
                <md-input name="testSuiteName" v-model="createPopin.testSuiteName" type="text" />
            </md-field>
            <md-field>
                <label for="repository">Repository</label>
                <md-select v-model="createPopin.selectedRepository" name="repository" @md-selected="selectRepository">
                    <md-option v-for="repository in repositories" :value="repository.address" :key="repository.address">{{ repository.name }}</md-option>
                </md-select>
            </md-field>
            <md-field>
                <label for="gitBranch">Git branch</label>
                <md-select v-model="createPopin.selectedGitBranch" name="gitBranch">
                    <md-option v-for="gitBranch in createPopin.availableGitBranches" :value="gitBranch" :key="gitBranch">{{ gitBranch }}</md-option>
                </md-select>
            </md-field>
            <md-dialog-actions>
                <md-button class="md-primary" @click="sendCreateTestSuite">Import</md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
    <md-dialog :md-active.sync="toggleBranchPopin.show">
        <md-dialog-title>Please select a new git branch</md-dialog-title>
        <form>
            <md-field>
                <label for="newGitBranch">New git branch</label>
                <md-select v-model="toggleBranchPopin.selectedGitBranch" name="gitBranch">
                    <md-option v-for="gitBranch in toggleBranchPopin.availableGitBranches" :value="gitBranch" :key="gitBranch">{{ gitBranch }}</md-option>
                </md-select>
            </md-field>
            <md-dialog-actions>
                <md-button class="md-primary" @click="solveTestSuiteDiff(toggleBranchPopin.testSuiteId, toggleBranchPopin.selectedGitBranch)">Valid</md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
    <md-dialog :md-active.sync="diffPopin.show">
        <md-dialog-title>Diff viewer</md-dialog-title>
        <md-tabs v-if="!diffPopin.diff.isEmpty" md-dynamic-height>
            <md-tab md-label="Modified" v-if="diffPopin.diff.modifiedPatches.length > 0">
                <md-content class="md-scrollbar">
                    <div v-for="patch in diffPopin.diff.modifiedPatches">
                        <strong v-if="patch.file === patch.newFile">{{ patch.file }}</strong>
                        <strong v-if="patch.file !== patch.newFile">{{ patch.file }} => {{ patch.newFile }}</strong>
                        <test-case-state :testState="patch.test.status" :displayCurrentState="true" :displayStateSwitch="true" v-on:change-test-status="changeTestStatus(patch.test.testFilePath, $event)"></test-case-state>
                        <diff-viewer :hunks="patch.hunks"></diff-viewer>
                    </div>
                </md-content>
            </md-tab>
            <md-tab md-label="Deleted" v-if="diffPopin.diff.deletedPatches.length > 0">
                <md-content class="md-scrollbar">
                    <div v-for="patch in diffPopin.diff.deletedPatches">
                        <strong>{{ patch.file }}</strong>
                        <test-case-state :testState="patch.test.status" :displayCurrentState="true"></test-case-state>
                    </div>
                </md-content>
            </md-tab>
            <md-tab md-label="Added" v-if="diffPopin.diff.addedPatches.length > 0">
                <md-content class="md-scrollbar">
                    <div v-for="patch in diffPopin.diff.addedPatches">
                        <strong>{{ patch.file }}</strong>
                    </div>
                </md-content>
            </md-tab>
            <md-tab md-label="Renamed" v-if="diffPopin.diff.renamedPatches.length > 0">
                <md-content class="md-scrollbar">
                    <ul>
                        <li v-for="patch in diffPopin.diff.renamedPatches">
                            <strong>{{ patch.file }} => {{ patch.newFile }}</strong>
                        </li>
                    </ul>
                </md-content>
            </md-tab>
        </md-tabs>
        <md-content v-if="diffPopin.diff.isEmpty">
            There is no differences between current local and target repository state.
        </md-content>
        <md-button @click="submitNewTestsStatuses">Got it !</md-button>
    </md-dialog>
</main-layout>